CONFIG = {
  :poczta_wp_pl => {
    :description => "poczta.wp.pl",
    :tested_email => "TO_EMAIL@example.com",
    :smtp_server => "smtp.wp.pl",
    :smtp_port => "25",
    :smtp_username => "USERNAME",
    :smtp_password => "PASSWORD",
    :from => "FROM_EMAIL@wp.pl",
    #:domain => "wp.pl" # if not present defaults to "localhost.localdomain"
  },
  :google_com => {
    :description => "google.com",
    :tested_email => "TO_EMAIL@example.com",
    :smtp_server => "smtp.googlemail.com",
    :smtp_port => "587",
    :smtp_username => "USERNAME",
    :smtp_password => "PASSWORD",
    :from => "FROM_EMAIL@gmail.com",
    :domain => "HELO"
  },
}
